# Create a copy of this file, rename it to .env and fill in your passwords
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=password123
SPARK_MINIO_USER=admin
SPARK_MINIO_PASSWORD=password123